@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&family=Syne+Tactile&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
header {
  padding: 25px;
}
* {
  box-sizing: border-box;
}
.header-wraper {
  width: 75%;
  margin: 0 auto;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 140px;
}
header nav a {
  margin-left: 45px;
  color: rgb(0, 0, 0);
  opacity: 0.5;
  text-decoration: none;
}
header nav a :first-child {
  margin-left: 0px;
  text-decoration: none;
}
.activl {
  color: black;
  opacity: 1;
  font-weight: 700;
}
.welcome-wraper {
  width: 70%;
  margin: 0 auto;
}
.inner {
  padding: 75px 0;
}
.welcome-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#welcome img {
  width: 480px;
  max-width: 50%;
}
.welcome-text {
  max-width: 50%;
}
#welcome h1 {
  font-size: 2.5rem;
}
.welcome-details {
  color: #7d7987;
  /* width: 450px; */
  /* font-size: 32px; */
}
.welcome-button {
  background-color: steelblue;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 20px;
}
.services-wraper {
  width: 75%;
  margin: 0 auto;
}
.services-text {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}
.services-text p {
  color: #7d7987;
}
.services-text hr {
  width: 52px;
  height: 2px;
  background-color: black;
  margin: 35px auto;
}
#services {
  margin-top: 90% 95%;
  background-image: url(../images/services-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 25px;
}
.cards-row {
  display: flex;
  justify-content: space-between;
}
.services-cards .card {
  background-color: white;
  box-shadow: 0 0 15px 0 #999;
  width: 300px;
  padding: 25px;
  border-radius: 25px;
}
.services-cards {
  margin-top: 100px;
}
p {
  color: #7d7987;
}
.card p {
  line-height: 20px;
}
.card img {
  width: 68px;
  margin-bottom: 10px;
  margin-left: 35%;
}
.cards-row:first-child {
  margin-bottom: 25px;
}
button {
  border: none;
  padding: 12px 35px;
  border-radius: 20px;
  cursor: pointer;
}
.default {
  background-color: white;
  color: #458ff6;
  border: 2px solid;
  border-color: #458ff6;
  margin-top: 50px;
}
.button-container {
  text-align: center;
  width: 100%;
}
.projects-wraper {
  margin: 0 auto;
  width: 70%;
}
.project1 img {
  width: 50%;
}
.project2 img {
  width: 50%;
}
.project-text {
  width: 40%;
}
.project-container > * {
  margin-bottom: 175px;
}
.project-container hr {
  width: 52px;
  height: 2px;
  background-color: black;
  margin: 35px 0;
}
.project1 {
  display: flex;
  justify-content: space-between;
}
.project2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.project-text h1 {
  font-size: 2.25rem;
}
.project-text button {
  font-size: 1rem;
  margin-top: 35px;
}
.project-container > *:last-child {
  margin-bottom: 30px;
}
#news {
  background: url(../images/articles-bg.png);
  background-size: 100% 50%;
  background-position-x: 100%;
  background-repeat: no-repeat;
}
.news-wrraper {
  width: 75%;
  margin: 0 auto;
}
.news-text {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}
.news-text hr {
  width: 52px;
  height: 2px;
  background-color: black;
  margin: 35px auto;
}
.news-cards .card {
  background-color: white;
  box-shadow: 0 0 15px 0 #999;
  width: 300px;
  border-radius: 25px;
  overflow: hidden;
}
.card-info {
  padding: 25px 25px 40px 25px;
}
.news-cards a {
  color: #4089ed;
  text-decoration: none;
}
.news-cards .card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-left: 0;
  margin-bottom: 0;
}
.video-wrapper {
  width: 75%;
  margin: 0 auto;
}
.video-container {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/video-cover.png);
  width: 100%;
  height: 450px;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.video-element {
  padding: 25px;
  width: 50%;
  margin: 0 auto;
}
.video-description {
  color: white;
  text-align: center;
}
.video-description h1 {
  /* position: relative; */
  bottom: 55px;
  font-size: 1.5rem;
}
.play-button {
  display: inline-block;
  border: 1px solid white;
  padding: 10px 25px;
  border-radius: 58px;
  cursor: pointer;
}
.play-button > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}
.play-button p {
  color: white;
}
.play-button img {
  width: 25%;
}
.points-container1 {
  position: relative;
  top: 50px;
  right: 50px;
}
.points-container1 img {
  position: absolute;
  width: 130px;
}
.points-container2 {
  position: relative;
  top: -250px;
  right: 75px;
}
.points-container2 img {
  position: absolute;
  width: 130px;
}
.contact-wrapper {
  width: 75%;
  margin: 0 auto;
}
.contact-text {
  text-align: center;
}
.contact-text h1 {
  font-size: 2rem;
}
.contact-form {
  margin: 50px 0;
}
.contact-container {
  justify-content: space-between;
  display: flex;
  border-radius: 1000px;
  box-shadow: 0 0 20px 0 #999;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}
.input-container,
.input-container input {
  border: none;
  outline: none;
}
.contact-container > * {
  padding: 20px;
}
.input-button {
  background-color: #458ff6;
  width: 40%;
  text-align: center;
  color: white;
}
.input-container {
  width: 60%;
  padding-left: 25px;
}
.input-container input {
  width: 100%;
  font-size: 1.1rem;
}
.footer {
  background: linear-gradient(
    90deg,
    rgba(103, 195, 243, 1) 0%,
    rgba(90, 152, 242, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white !important;
}
.footer-wrapper {
  width: 75%;
  margin: 0 auto;
  padding: 25px 0;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.description {
  width: 35%;
}
.description p {
  color: white;
}
.description img {
  width: 200px;
  margin-bottom: 25px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.links {
  width: 13%;
}
.links ul li {
  margin-bottom: 10px;
}
.links a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
.points-container3 {
  position: relative;
  top: -250x;
  right: 25px;
}
.points-container3 img {
  position: absolute;
  height: 100px;
  width: 200px;
}
.hidden {
  display: none;
}
.modal-canvas {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.66));
}
.video2 {
  margin-top: 25px;
}
.modal {
  padding: 25px;
  /* box-shadow: 0 0 20px 0 #999; */
}
.modal-close {
  cursor: pointer;
  text-align: right;
}
#close1 {
  color: white;
  font-size: larger;
  cursor: pointer;
}
.header-bars {
  color: white;
}
.mobile-logo {
  display: none;
}
@media (max-width: 720px) {
  .cards-row {
    flex-direction: column;
    text-align: center;
  }
  .card {
    margin-bottom: 25px;
    margin-left: 10%;
  }
  .card img {
    margin-left: 0;
  }
  .project1 {
    flex-direction: column;
  }
  .project1 img {
    width: 100%;
  }
  .project2 {
    flex-direction: column;
  }
  .project2 img {
    width: 100%;
  }
  .project-text {
    width: auto;
    text-align: center;
  }
  #welcome h1 {
    font-size: 1.75rem;
  }
  .welcome-flex {
    flex-direction: column-reverse;
  }
  .welcome-text {
    max-width: 100%;
    text-align: center;
  }
  #welcome img {
    width: 75%;
    max-width: 100%;
  }
  .card-text h1 {
    font-size: 1.25rem;
  }
  .inner {
    padding: 35px 0;
  }
  nav {
    display: none;
  }
  .video-element {
    width: 100%;
  }
  .project-text h1 {
    font-size: 1.5rem;
  }
  .project1 .project2 {
    margin-bottom: 20px;
  }
  .contact-container {
    width: 100%;
  }
  .description {
    width: 100%;
  }
  .footer-flex {
    flex-direction: column;
  }
  .points-container3 {
    display: none;
  }
  .links {
    display: none;
  }
  .expand-btn {
    align-items: center;
  }
  .header-bars {
    display: block;
    font-size: 1.5rem;
    color: white;
  }
  .mobile-logo {
    display: block;
  }
  .web-logo {
    display: none;
  }
  header {
    background: linear-gradient(
      90deg,
      rgba(103, 195, 243, 1) 0%,
      rgba(90, 152, 242, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
  }
}
